/*
    Created on : 2017-05-26, 22:53:02
    Author     : Peniakoff
*/

body {
    height: 100vh;
    width: 100%;
    overflow: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
    background-color: #e3f2fd;
}

nav {
    margin-bottom: 20px;
}

.main {
    width: 100%;
}

footer {
    width: 100%;
    font-size: small;
}

select {
    margin-bottom: 22px;
}

.user-name {
    max-width: 230px;
}

.table-legend {
    margin: 12px 8px;
    text-align: right;
    cursor: default;
}

.table-legend:nth-of-type(1) {
    margin-top: 20px;
}

.close-info-card {
    float: right;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.close-info-card:hover {
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media print {
    table {
        font-size: smaller;
    }

    .no-print {
        display: none;
    }
}
